[submodule "lib/imguiwrap"]
	path = lib/imguiwrap
	url = https://github.com/lilggamegenius/imguiwrap.git
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "lib/libremidi"]
	path = lib/libremidi
	url = https://github.com/jcelerier/libremidi.git
[submodule "lib/Nuked-OPN2"]
	path = lib/Nuked-OPN2
	url = git@github.com:nukeykt/Nuked-OPN2.git
