[submodule "lib/imguiwrap"]
	path = lib/imguiwrap
	url = https://github.com/lilggamegenius/imguiwrap.git
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "lib/libremidi"]
	path = lib/libremidi
	url = https://github.com/jcelerier/libremidi.git
